@import '../../../../themes/variables-light.scss';
@import '../../../../styles.scss';

a:hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.txt-input {
    margin: 0px;
    margin-bottom: 40px;
    padding: 10px;
    outline: none;
}
.input{
    width: 300px;
    position: relative;
}

.showOrHide{
    position: absolute;
    top: 0;
    border-radius: 5px;
    right: 0px;
    z-index: 2;
    border: none;
    top: 2px;
    height: 30px;
    cursor: pointer;
    color: white;
    transform: translate(30px, 13px);
}

.showButton{
    min-width: 20px;
}

.header{
    margin-bottom: 6vh;
}

.btn-title {
    font-weight: normal;
}

.grid {
    display: grid;
    grid-template: 'recovery bg bg';
}

.login {
    grid-area: recovery;
    height: 100vh;
}

.bg {
    background-color: $cl-primary;
    grid-area: bg;
    height: 100vh;
}

.logo {
    max-width: 240px;
    margin: 5vh 0vh;
}

.form {
    max-width: 343px;

    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.center-image {
    margin: auto;
    margin-top: 25vh;
    display: block;
}