<div class="grid">
    <div class='login'>
        <div class="form center">
            <a (click)='redirectToHome()'><img class='logo' src='../../../assets/logo.svg'></a>
            <form class='form' [formGroup]="formPassword" novalidate>
                <div class='header'>
                    <p class='fsize-28 fweight-bolder mb-16'>Verificação</p>
                    <p class='fsize-16 fweight-500 opacity-66'>Ótimo, agora você consegue criar a sua senha nova</p>
                </div>
                <div class="input">
                    <input class='txt-input center block' formControlName='password' [type]="show ? 'text' : 'password'"
                        minlength="8">
                    <div class='showOrHide'>
                        <img class='showButton'src="../../../../assets/showorhidden.svg" (click)="tooglePasswordVisibility()">
                    </div>
                </div>
                <button 
                class='btn-cl-primary center block mt-8' 
                (click)='submitCode()'>
                <span class='btn-title'>
                    Criar nova senha
                </span></button>
            </form>
        </div>
    </div>
    <div class='bg bg-cl-primary right'>
        <img class='center-image' src='../../../assets/bg-img.svg'>
    </div>
</div>