<header></header>
<div class="bg"></div>
<div class="grid bg" >
  <div class="card header">
    <h4>Ranking Geral</h4>
    <p>{{this.usersCount}} participantes</p>
  </div>
  <div class="card top">
    <div class="top-player" *ngFor="let user of this.topUsers">
      <h6>Membro desde {{this.getDate(user.CreatedAt)}}</h6>
      <img src={{user.ImgUrl}} alt="">
      <h5>{{user.Username}}</h5>
      <app-level [experience]="user.Experience"></app-level>
    </div>
  </div>
  <div class="card player" *ngFor="let user of this.users;let indexOfelement=index;">
    {{indexOfelement+4}}
    <div class="imgtext">
      <img src={{user.ImgUrl}} alt="">
      <h5>{{user.Username}}</h5>
    </div>
    <app-level [experience]="user.Experience"></app-level>
    <h6>Membro desde {{this.getDate(user.CreatedAt)}}</h6>
  </div>
</div>