<nav>
  <img class="logo" src="../../../assets/logo.svg">

  <div class="page-links">
    <a (click)="this.redirectToDashboard()" [ngClass]="page === 'dashboard' ? 'page-link active' : 'page-link'">Estudar</a>
    <a (click)="this.redirectToRanking()" [ngClass]="page === 'ranking' ? 'page-link active' : 'page-link'">Ranking</a>
  </div>

  <app-level [logo]="true" [experience]="this.token.experience"></app-level>

  <div class="profile-container">
    <span class="profile-salution">Olá, {{this.token.username}}</span>
    <img class="profile-image" src="https://deno-avatar.deno.dev/avatar/Ezio Auditore">
  </div>
</nav>
