<div class='center'>
  <h4 class="title">Nos siga nas redes</h4>
  <div class='links'>
    <div class='link'>
      <img src="https://media-exp1.licdn.com/dms/image/C4D03AQEwKBOLp3UwqA/profile-displayphoto-shrink_200_200/0/1654542212171?e=1662595200&v=beta&t=7duZN7IDXUAMETIQzOozeWSYtvGr7ASDj3gC4UU-w4Y">
      <div>
        <h6>Luis Felipe Barros</h6>
        <small>UI Designer</small>
      </div>
    </div>
    <div class='link'>
      <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGhO03XfuOxjw/profile-displayphoto-shrink_200_200/0/1651157054795?e=1662595200&v=beta&t=aEUhX2YNpKs-CJFMwv3c9CbUOlvN6KEa53KSWykApfY">
      <div>
        <h6>Leonardo Ribeiro</h6>
        <small>UI Designer</small>
      </div>
    </div>
    <div class='link'>
      <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFJ9pj3O3p6lA/profile-displayphoto-shrink_800_800/0/1648518774435?e=1662595200&v=beta&t=iL31-D5jVQFlFn4U41RQG5lc2zx61bAhkUS987jEfyQ">
      <div>
        <h6>Nathan Fiorito</h6>
        <small>Desenvolvedor</small>
      </div>
    </div>
    <div class='link'>
      <img src="https://media-exp1.licdn.com/dms/image/C4E03AQG4ACkA-fdnHQ/profile-displayphoto-shrink_200_200/0/1549981904237?e=1662595200&v=beta&t=K7TaQr2uiMEW6NJt1hi7klMRzYP4y7OMcqtnF4FU_4M">
      <div>
        <h6>Jorge Lucas</h6>
        <small>Product Owner</small>
      </div>
    </div>
    <div class='link'>
      <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGS4gc2QNhF6Q/profile-displayphoto-shrink_200_200/0/1648758334448?e=1662595200&v=beta&t=qSmHScixe_-6NnMPiWscokIWX6odwHhli6kNGMYxAMI">
      <div>
        <h6>Felipe Borges</h6>
        <small>Quality Assurance</small>
      </div>
    </div>
  </div>
</div>
