<div class='center'>
  <h4 class="title">Nos siga nas redes</h4>
  <div class='links'>
    <div class='link'>
      <img src="../../../assets/luis.jpg">
      <div>
        <h6>Luis Felipe Barros</h6>
        <small>UI Designer</small>
      </div>
    </div>
    <div class='link'>
      <img src="../../../assets/leo.jpg">
      <div>
        <h6>Leonardo Ribeiro</h6>
        <small>UI Designer</small>
      </div>
    </div>
    <div class='link'>
      <img src="../../../assets/nathan.jpg">
      <div>
        <h6>Nathan Fiorito</h6>
        <small>Desenvolvedor</small>
      </div>
    </div>
    <div class='link'>
      <img src="../../../assets/jorge.jpg">
      <div>
        <h6>Jorge Lucas</h6>
        <small>Product Owner</small>
      </div>
    </div>
    <div class='link'>
      <img src="../../../assets/felipe.jpg">
      <div>
        <h6>Felipe Borges</h6>
        <small>Quality Assurance</small>
      </div>
    </div>
  </div>
</div>
