@import '../../../../themes/variables-light.scss';
@import '../../../../styles.scss';

a:hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}

input[type=text]{
    width: 54px;
    height: 52px;
    display: inline;
    padding: 1rem;
}

.inputs{
    justify-content: space-between;
}

.inputs > div{
    display: inline;
    margin: 0 0.32rem;
}

.form {
    max-width: 343px;

    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

@import '../../../../themes/variables-light.scss';
@import '../../../../styles.scss';

button, input {
    justify-content: space-around;
    display: block;
    width: 312px;
}

input {
    margin: 1rem 0;
}

button {
    margin: 2.5rem 0;
}

.center {
    height: 100vh;
    width: 312px;
    margin: auto;
    
    &-image {
        width: 40vw;
        margin: auto;
        margin-top: 25vh;
        display: block;
    }
}

.logo {
    margin-top: 1.3rem;
    margin-bottom: 13.5rem;
}

.title {
    margin-bottom: 0.5rem;
}

.subtitle{
    margin-bottom: 2.5rem;
}

.a-btn {
    margin-top: 10rem;
}

.create:hover {
    cursor: pointer;
}