/* You can add global styles to this file, and also import other style files */
$white: white;
$cl-grey: #dadada;

$cl-black: #1A1A1A;
$cl-primary: #9146FF;
$cl-primarydarker: #532991;
$cl-green: #38B435;


$font-size-title: 45px;
$font-size-sec-title: 16px;
$inter: 'Inter', sans-serif;
$poppins: 'Poppins', sans-serif;
