<div class="grid">
    <div class='login'>
        <div class="form center">
            <a (click)='redirectToHome()'><img class='logo' src='../../../assets/logo.svg'></a>
            <form class='form' [formGroup]="formLogin" novalidate>
            <h1 class=''>Entre em sua conta</h1>
                <input
                class='txt-input center block'
                formControlName='email'
                type='text'
                placeholder='Email ou número de telefone...'
                >
            
                <div class="input">
                    <input
                    class='txt-input center block'
                    formControlName='password'
                    [type]="show ? 'text' : 'password'"
                    placeholder='Digite sua senha'
                    minlength="8"
                    >
                    <div class='showOrHide'>
                        <img class='showButton'src="../../../../assets/showorhidden.svg" (click)="tooglePasswordVisibility()">
                    </div>
                </div>
            
                <button class='btn-cl-primary center block' type='submit' (click)='efetuarCadastro()'><span class='btn-title'>Entrar</span></button>
            </form>
        </div>
    </div>
    <div class='bg bg-cl-primary right'>
        <img class='center-image' src='../../../assets/bg-img.svg'>
    </div>
</div>