<app-background></app-background>
<div class="grid">
    <div class="center">
        <a (click)='redirectToHome()'><img class='logo' src='../../../assets/logo.svg'></a>
        <div>
            <h4 class='title'>Crie sua conta</h4>
            <form class='form' [formGroup]="formRegister" novalidate>
                <input text-input type="text" placeholder="Username" formControlName='username'>
                <input text-input type="email" placeholder="Email" formControlName='email'>
                <input text-input type='password' placeholder="Insira sua senha" formControlName='password' minlength="8">
                <input text-input type='password' placeholder="Insira sua senha" formControlName='passwordConfirm' minlength="8">
                <button app-button (click)='register()'>Entrar</button>
                <p class='a-btn '>Já tem uma conta? <a class='cl-primary create' (click)='redirectToSignin()'>Entrar</a></p>
            </form>
        </div>
    </div>
</div>