@import '../../../../themes/variables-light.scss';

:host {
    background-color: $grey-1!important;
    border-radius: 0.5rem;
    box-sizing: border-box;
    line-height: 1.125rem;
    font-size: 1rem;
    padding: 1rem!important;

    &.ng-invalid {
        background-color: $danger-light;
    }
    
    &:hover{
        border: 1px solid $primary;
        box-sizing: border-box
        // box-shadow: 0 0 0 0 1px $primary
        // margin: 0px;
    }
    
    &:focus{
        outline: none;
        border: 2px solid $primary;
        margin: -2px;
    }
    
    &::placeholder{
        color: $grey-7;
    }
}