<div *ngIf="page == 'dashboard'" class="main">
  <app-header class='nav'></app-header>
  <app-modulos class='card modulos'></app-modulos>
  <app-daily class='card daily'></app-daily>
  <app-social class='card social'></app-social>
</div>

<div *ngIf="page == 'ranking'" class="main ranking">
  <app-header class='nav'></app-header>
  <div class='card' style="padding: 1.5rem;">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <h1 class="title fsize-32">Ranking Geral</h1>
      <p>23 participants</p>
    </div>
  </div>
  <div style="display: flex;">
    <div class='card participant-card' style="padding: 1.5rem; width: 100%;">
      <div class="participant-pic" style="background-image: url(https://deno-avatar.deno.dev/avatar/luiso);">

      </div>
      <p class="participant-name">Ezio Auditore</p>
    </div>
    <div class='card participant-card' style="padding: 1.5rem; width: 100%;">
      <div class="participant-pic" style="background-image: url(https://deno-avatar.deno.dev/avatar/luiso);">

      </div>
      <p class="participant-name">Ezio Auditore</p>
    </div>
    <div class='card participant-card' style="padding: 1.5rem; width: 100%;">
      <div class="participant-pic" style="background-image: url(https://deno-avatar.deno.dev/avatar/luiso);">

      </div>
      <p class="participant-name">Ezio Auditore</p>
    </div>
  </div>
</div>
