@import '../../themes/variables-light.scss';
@import '../../styles.scss';

.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #F5F5F5;
  z-index: -1;
  top: 0;
}

.modulos {
  margin-top: 4rem;;
  grid-column: 1/7;
}

.social {
  margin-top: 4rem;
  grid-column: 7/12;
  background-color: white;
}