<app-background></app-background>
<div class="grid">
        <div class="center">
            <a (click)='redirectToHome()'><img class='logo' src='../../../assets/logo.svg'></a>
            <div>
                <h4 class='title'>Recuperar senha</h4>
                <p class='subtitle'>Preencha o campo abaixo enviaremos um código para criar uma senha nova</p>
                <form class='form' [formGroup]="formRecovery" novalidate>
                    <input text-input type="text" placeholder="Digite seu email ou telefone..." formControlName='email'>
                    <button app-button (click)='passwordReset()'>Enviar</button>
                    <!-- <p class='a-btn '>Já tem uma conta? <a class='cl-primary create' (click)='redirectToSignin()'>Entrar</a></p> -->
                </form>
            </div>
        </div>
    <!-- <div class='login'>
        <div class="form center">
            <a (click)='redirectToHome()'><img class='logo' src='../../../assets/logo.svg'></a>
            <form class='form' [formGroup]="" novalidate>
                <div class='header'>
                    <p class='fsize-28 fweight-bolder mb-16'>Esqueceu sua senha ?</p>
                    <p class='fsize-16 fweight-500 opacity-66'>Preencha o campo abaixo, enviaremos um código para criar uma senha nova</p>
                </div>
                <input
                class='txt-input center block'
                formControlName=''
                type='text'
                placeholder='Email ou número de telefone...'
                minlength="8"
                >

                <button class='btn-cl-primary center block mt-8' (click)=''><span class='btn-title'>Recuperar senha</span></button>
            </form>
        </div>
    </div>
    <div class='bg bg-cl-primary right'>
        <img class='center-image' src='../../../assets/bg-img.svg'>
    </div> -->
</div>