<main>
  <div class="title">
    <h4>Estudar</h4>
    <p>4 tarefas</p>
  </div>
  <div class="task">
    <ul>
      <li><button app-button class="primary">Lógica</button></li>
      <li><button app-button class="primary">C# Básico</button></li>
      <li><button app-button class="primary">POO</button></li>
      <li><button app-button class="primary">Avançado</button></li>
    </ul>
  </div>
  <ul class="modules" *ngFor="let module of this.modules">
    <li class="module">
      <img src="{{module.image}}">
      <div>
        <h3>{{module.title}}</h3>
        <h5>{{module.resume}}</h5>
        <button class='btn-cl-green center block' type='submit'><span class='btn-title'>Comecar</span></button>
      </div>
    </li>
  </ul>
</main>
