@import '../../../styles.scss';
main {
  padding: 1.5rem;
  border-radius: 12px;
  background-color: white;
}

.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.5rem;
  margin-left: 2rem;
  p {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #83838F;
    display: block;
  }

  u{
  }
}

.tasks{

}

.modules {
  margin-top: 4rem;
  margin-left: 2rem;
}

.module{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  margin: 20px 0px;
  position: relative;

  div{
    flex: 1 1 350px;

    img{
      max-width: 200px;
    }

    button{
      position: absolute;
      margin-bottom: 0px;
    }
  }


}