@import '../../../styles.scss';

.main {
  padding: 1.5rem;
  border-radius: 12px;
  background-color: white;
  overflow: scroll;
  max-height: 700px;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.main::-webkit-scrollbar {
  width: 8px;
}

.main::-webkit-scrollbar-track {
  background: $grey-2;
}

.main::-webkit-scrollbar-thumb {
  background: $grey-6;
  border-radius: 5px;
}

p {
  color: $grey-6;
}

.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.5rem;
  margin-left: 2rem;
  p {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #83838F;
    display: block;
  }

  u{
  }
}

.tasks{
  margin-top: 1.5rem;
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
  & li {
      display: inline;
  }
}

.modules {
  
  
}

.scroll {
  background-color: #83838F;
}

.module{
  margin-top: 4rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  position: relative;
  img{
    display: inline;
    max-width: 200px;
  }

  div{
    flex: 1 1 200px;
    button{
      position: absolute;
      margin-bottom: 0px;
    }
  }
}