<div class="main">
  <div class="scrollmenu"></div>
  <div class="title">
    <h4>Estudar</h4>
    <p>4 tarefas</p>
  </div>
  <div>
    <ul class="tasks">
      <li *ngFor="let category of this.category">
        <button app-button size="small" [color]="category.Id ===  this.filter ? 'primary' : 'secondary'" (click)="filterModules(category.Id)">{{category.CategoryName}}</button>
      </li>
    </ul>
  </div>
  <ul class="modules">
    <li class="module" *ngFor="let module of this.modules">
      <img src="{{module.ImgUrl}}">
      <div>
        <h5>Lógica de Programação I</h5>
        <p>{{module.Resume}}</p>
        <button app-button size="small" color="primary" type='submit' id='{{module.CategoryId}}' (click)="startModule($event)" value="{{module.Id}}">Começar!</button>
      </div>
    </li>
  </ul>
</div>
