@import '../../themes/variables-light.scss';
@import '../../styles.scss';

:host {
    display:flex;
    align-items:center;
    justify-content:center;
    height: 100%;

    .main {
        text-align: center;
        max-width: 327px;
        line-height: 3.625rem;
    }

    div {
        margin-top: 4rem;
        &> button {
            display: block;
            width: 19.5rem;
        }
    }
}