<div class="wrapper">
    <div class='left'>
        <div class="center">
            <a (click)='redirectToHome()'><img class='logo' src='../../../assets/logo.svg'></a>

            <h4 class=''>Entre em sua conta</h4>
            <form class='form' [formGroup]="formLogin" novalidate>
                <input text-input type="text" placeholder="Username" icon="left" formControlName='username'>
                <input text-input [type]="show ? 'text' : 'password'" placeholder="Insira sua senha" formControlName='password' minlength="8">
            </form>
        </div>
    </div>
    <div class='right bg'>
        <img class='center-image' src='../../../assets/bg-img.svg'>
    </div>
</div>
        <!-- <div class="form center">
            
                <div class="input">
                    <div class='showOrHide'>
                        <img class='showButton'src="../../../../assets/showorhidden.svg" (click)="tooglePasswordVisibility()">
                    </div>
                </div>
            
                <div class='details'>
                    <div class="switch">
                        <label for='remember'>
                            <input
                            formControlName='remember'
                            id='remember'
                            type='checkbox'
                            >
                            <div class='slider round'></div>
                        </label>
                    </div>
                    <label class="secondary remember" for='remember'>Lembrar de mim</label>
                    <a class='cl-primary a-btn secondary' (click)='redirectToRecovery()'>Esqueceu sua senha?</a>
                </div>
            
                <button class='btn-cl-primary center block' type='submit' (click)='efetuarLogin()'><span class='btn-title'>Entrar</span></button>

                <app-error-popup [errors]="this.errors"></app-error-popup>
                
            </form>
            <p class='a-btn create'>Não tem uma conta? <a class='cl-primary' (click)='redirectToSingup()'>Criar conta</a></p>
        </div> -->
